.handle {
  fill: var(--color-background);
  stroke: var(--color-handle);
}

.dragging {
  fill: var(--color-handle-drag);
}

.dot {
  fill: var(--color-on-background);
}

.line {
  stroke: var(--color-handle);
}
