.handle {
  fill: var(--color-handle-fill);
  stroke: var(--color-handle-stroke);
}

.dragging {
  fill: var(--color-handle-drag-fill);
}

.dot {
  fill: var(--color-handle-dots);
}

.line {
  stroke: var(--color-handle-line);
}
